@import "variables";

.footer {
  &__main {
    padding: 50px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  &__links {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
  }
  &__links-header {
    font-weight: 500;
    color: $color-primary;
    padding-bottom: 20px;
    text-decoration: underline;
  }
  &__link {
    padding-bottom: 10px;
  }
  &__copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-primary;
    padding: 20px;
  }
  &__text {
    color: $color-primary;
    font-size: 10px;
  }
  &__subscribe {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__input {
    padding: 10px;
    border: 0;
    background: $color-secondary;
    border-radius: 20px 0 0 20px;
    outline: none;
  }
  &__button {
    outline: none;
    padding: 10px 15px 10px 10px;
    border: 0;
    background: $color-primary;
    color: $color-secondary;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
  }
}